@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins';
    background-color: lightyellow;
    padding: 24px;
}
.spoorthi{
color: darkblue;
font-size: 24px;
font-weight: 600;
font-style: normal;
line-height: 36px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about {
    margin: 0 40px;
}
.menu-item {
color: darkblue;
}
.introduction {

color: darkblue;
font-weight: 500;
font-size: 24px;
line-height: 42px;

}
.designation {
    
color: #03045E;
font-weight: 800;
font-size: 100px;
line-height: 116px;

display: flex;
align-items: flex-end;
}
.place {
color: #03045E;
font-weight: 500;
font-size: 28px;
line-height: 42px;
}

.resume {
background-color: #F5EE84;
font-weight: 200;
border-radius: 5px;
padding: 15px;
}

.my-image {
position: absolute;
border-radius: 50%;
left: 831px;
top: 191px;
}

.about1 {
color: #F7F197;
font-weight: 800;
font-size: 100px;
line-height: 116px;
display: flex;
align-items: flex-end;
}

.para {
    
font-weight: 400;
font-size: 24px;
line-height: 44px;
color: #03045E;
}